<!doctype html>

<html>
<head>
	{{> googleAB }}
	<title>Ideorbit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/base.css" rel="stylesheet">
	<link href='/css/toastr.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">



	<!-- //Jesse's circle -->
  <meta charset="utf-8">
	<title>Test</title>
	<link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
	<style>
		.parents:last-child {
			color: blue;
		}
	</style>
</head>
<body>
	<div>
	{{#each parents}}
		>  <a class="parents" href="/system?sys={{this}}">System{{this}}</a>
	{{/each}}
	</div>
	<div class="orbit" id= 'circ'>
			<div class="orbit-content">
					<!--  commented out text from our old hardcoded planets (on different corners of the circle)-->
					<!-- <div class="corner-0 vertical-center-text unselectable" style="display:none;"></div>
					<div class="corner-1 vertical-center-text unselectable" style="display:none;"></div>
					<div class="corner-2 vertical-center-text unselectable" style="display:none;"></div> -->
					<!-- <div class="planet-wrapper"><div class="planet vertical-center-text unselectable"></div></div>
				  PlANET WRAPPER -->
					<div class="planet-wrapper2">
						<div id='add-child-btn' class="planet2 vertical-center-text unselectable">
							+
						</div>
					</div>

					<div class="corner-3 vertical-center-text unselectable" data-toggle='modal' data-target= '#myModal'>+</div>
					<div class="middle vertical-center-text unselectable"></div>
			</div>
	</div>

 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><a id='modal-tab-text' href='#'>Text
					Editor</a> | <a id='modal-tab-color' href='#'>Color Editor</a></h4>
        </div>
        <div class="modal-body">
					<div id='modal-text-edit'>
						<p>Title<br/>
						<input type='text' id='modal-title-input' value='{{ideas.0.name}}'
						style='width:100%' placeholder='Double tap to edit'></textarea>
						</p>
						<p>
							Content<br/>
						<textarea id='modal-body-input' style='width:100%; resize: none'
						placeholder='Edit me and the title above!'>{{ideas.0.body}}</textarea>
						</p>
					</div>
					<div id='modal-color-edit' style='display:none;'>
						<p>Color<br/>
						<div class='color-slider unselectable'>
						<input type='range' min='0' max='360' id='modal-selected-color'></input>
						</div>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
						style="float: left;" id='close-btn'>Close</button>
						<button type="button" class="btn btn-default"
						data-dismiss="modal" id='save-btn'>Save</button>
					</div>
				</div>
      </div>
    </div>
  </div>

<div class='footer'>
	<p><button id='back'> <span class="glyphicon
	glyphicon-arrow-left"></span>&nbsp;Back</button></p>
	<div><a id='all-systems-btn' href='/list'><button><span class="glyphicon
	glyphicon-home"></span>&nbsp;All Systems</button></a></div>
	<div><button id='new'><span class="glyphicon
	glyphicon-plus-sign"></span>&nbsp;New System</button></div>
</div>

	<script>var viewme={{viewme}}</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script>
$(document).on('mobileinit', function () {
	$.mobile.keepNative = 'select,input,button,textarea,div,a';
});
	</script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src='/js/toastr.min.js'></script>
	{{> googleAnalytics }}
	<script src='/js/system.js'></script>
</body>

</html>
